

.body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.title{
    /* border:red solid 2px; */
    text-align: center;
}

.cards_container{
    /* border: 2px solid red; */
    width:90%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 20%;
    margin: 1rem 0;
    padding: 1em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: #eee;

}
.video {
    display:none;
}

.index{
    text-align: center;
}

.bannerImage{
    width: 40%;
    max-height: 20rem;
}

.controls{
    margin: 1rem 0;
    /* border: 2px solid green; */
    display:flex;
    justify-content: space-around; 
}

.controls .button{
    background: #eee;
    border-radius: 4px;
}

.button{
    
}


